*{
    padding: 0px;
    margin: 0px;
}
 
html{
    width: 100vw;
    height: 100vh;
    /* background-image: url(Img/WhatsApp\ Image\ 2025-09-12\ at\ 4.15.07\ PM.jpeg); */
    /* background-image: url(Img/JxmBgOyC-vacina-gripe-curitiba-1-1024x596.webp); */
    /* background-image: url(Img/medicbg1.webp); */
    /* background-image: url(Img/medicbg2.webp); */
    /* background-image: url(Img/medicbg3.webp); */
    /* background-image: url(Img/postobg1.jpg); */
    /* background-image: url(Img/postobg2.jpg); */
    /* background-image: url(Img/postobg3.jpg); */
    background-image: url(Img/postobg4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}


header{
    width: 100vw;
    height: 90px ;
}

section{
    width: 100vw;
    height: 87vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    text-decoration: none;
    color:rgb(213, 219, 221);
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.150);
    padding: 30px;
    border-radius: 10px;
    margin: auto 10px;
    text-align: center;
}

.cabeca{
    display: flex;
    background-color: rgb(173, 204, 216);
    height: 90px;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    position: fixed;
    width: 100vw;
}

.buttons{
    margin-right: 40px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.150);
    border-radius: 5px;
}

.btn2{
    background-color:  rgba(173, 204, 216, 0) ;
    height: 20px;
    border: 0px;
    cursor: pointer;
    transition: 100ms;
}
.btn2:hover{
    transform: scale(1.1,1.0);
}
.btn2:active{
    color: white;
}

.linhaV{
    display: inline;
    border-left: 1px solid black;
    height: 20px;
    margin: auto 6px;
}

.logo{
    width: 90px;
    background-color: transparent;
}

.buttonsDownR{
        display: none;
    }


@media (max-width: 500px){

    .title{
        text-align: center;
    }

    html{
        background-image: url(Img/postobg4.jpg);
        background-repeat: no-repeat;
        background-position: -80px;
        background-size: auto 100vh;
    }


    h1{
        text-decoration: none;
        /* color:rgb(0,0,0); */
        color: white;
        font-size: 20px;
        margin: auto 10px;
    }

    section{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        margin-top: 0px;
        overflow: hidden;
    }

    .cabeca{
        display: flex;
        background-color: rgb(173, 204, 216);
        height: 90px;
        justify-content:center;
        align-items: center;
        flex-direction: row;
        position: fixed;
        width: 100vw;
    }

    .buttonsR{
        display: none;
    }

    .buttonsDownR{
        display: inline-block;
        position: static;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.150);
        border-radius: 5px;
        margin-bottom: 100px;
    }

    .content-down-mobile1{
        display: flex;
        justify-content: end;
        align-content: end;
        justify-items: center;
        align-items: end;
        height: 50vh;
    }
    .content-down-mobile2{
        display: flex;
        justify-content: end;
        align-content: end;
        justify-items: end;
        align-items: end;
        height: 50vh;
    }
}
    