
/* Estilo do container principal do formulário (o 'card') */
.form-container {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px; /* Reduzido de 40px para 30px */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    width: 100%;
    max-width: 1200px; /* REDUZIDO de 400px para 350px (Desktop) */
    max-height: 1000px; /* REDUZIDO de 400px para 350px (Desktop) */
    margin: 20px auto;
}

.form-container h2 {
    color: #333;
    margin-bottom: 15px; /* Reduzido o espaço abaixo do título */
    font-family: sans-serif;
    border-bottom: 2px solid rgb(173, 204, 216);
    padding-bottom: 8px;
    text-align: center;
}

.form-container h3{
    text-align: center;
}
.form-container p{
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 5px;
}

/* main { 
    padding: 20px; 
    max-width: 900px; 
    margin: 20px auto; 
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
} */
.form-section {
    margin-top: 20px;
     
}
.form-section h4 {
    color: #333; border-bottom: 1px solid #eee; 
    padding-bottom: 10px; 
    margin-bottom: 20px; 
}
.form-section p { 
    color: #667; 
    margin-bottom: 10px;
}
.form-section button { 
    background-color: #3d8cb1; 
    color: white; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 1em; 
}
.form-section button:hover { 
    background-color: #2f6b86; 
}

#button_center{
    text-align: center;
    margin: 10px auto;
}