.modal-logout2 {
    display: none; /* Escondido por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    background-color: rgba(0,0,0,0.4); /* Fundo escuro */
}

.modal-content-logout2 {
    background-color: #fefefe;
    margin: 20vh auto; /* 15% do topo e centralizado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    height: 400px;
    border-radius: 8px;
    text-align: center;
    
}

.modal-content-logout2 button {
    margin: 5px;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* --- ESTILOS DO MODAL DE LOGOUT --- */

.modal-logout {
    display: none; /* Escondido por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Fundo escuro */
}

.modal-content-logout {
    background-color: #fefefe;
    margin: 15% auto; /* 15% do topo e centralizado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    border-radius: 8px;
    text-align: center;
}

.modal-content-logout button {
    margin: 5px;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#confirm-logout {
    background-color: #f44336; /* Vermelho */
    color: white;
}

#cancel-logout {
    background-color: #ccc;
}

#h4-logout{
    padding: 20px;
}